pandas
transformers==4.44.0
numpy<2
torch==2.2.2
huggingface_hub
requests
yfinance
peft==0.19.1
fastapi
psycopg2-binary
langgraph
langchain-groq
python-dotenv
newsapi-python
alembic
uvicorn
sqlalchemy
pytest
edgartools==3.8.0
passlib[bcrypt]
python-jose
bcrypt==4.0.1
apscheduler
pgvector
sentence_transformers
mcp